body {
    font-family: sans-serif;
    background-color: white;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    color: red;
}

table, th, td {
    margin-left: 40px;
    border-collapse: collapse;
    border: 1px solid black;
    width: 40%;
    height: 20%;
}

th {
    background-color: grey;
}

td {
    background-color: white;
}

.menu {
    border: 1px solid gray;
    width: 30%;
    list-style-type: none;
}

.header {
    background-color: lightblue;
}
.headerText {
    padding-top: 45px;
    font-size: xx-large;
    text-align: center;
}

.fatec {
    padding-left: 10px;
    width: 135px;
}

.img {
    padding-left: 25px;
    width: 4%;
}

.aside {
    width: 10%;
    height: 800px;
    background-color: lightblue;
    float: left;
}

.aside td {
    background-color: gray;
}

.table {
    background-color: lightblue;
    float: right;
    width: 10%;
    height: 800px;
}

.section {
    list-style-type: disc;
    font-size: large;
    width: 70%;
    float: left;
}

.section a {
    color: black;
    text-decoration: none;
}

.section a:hover {
    color: yellow;
}

.section a:active {
    text-decoration: underline;
    color: red;
}

.menu a {
    color: yellow
}